<a class="list-group-item clearfix" *ngFor="let dodatneuslugeShow of dodatneusluge">
  <div class="pull-left">
    <h2 class="list-group-item-heading" > Naziv dodatne usluge: {{dodatneuslugeShow.naziv}}</h2>

    <span class="pull-right"> 
      <button class="button"  [routerLink]="['/dodatneusluge/' + dodatneuslugeShow.id]">Izmeni</button>
      <button class="button-danger" (click)="deleteDodatnausluga(dodatneuslugeShow)">Obrisi</button>
    </span>
  </div>
</a>
<button class="button" routerLink="/dodatneusluge-edit">Dodaj dodatnu uslugu smestaja</button>


