<a class="list-group-item clearfix" *ngFor="let korisniciShow of korisnici">
  <div class="pull-left">
    <h3 class="list-group-item-heading" > Korisnik:</h3>
    <h4 class="list-group-item-heading" > {{korisniciShow.ime}}</h4>
    <h4 class="list-group-item-heading" > {{korisniciShow.prezime}}</h4>
    <h4 class="list-group-item-heading" > {{korisniciShow.email}}</h4>
    <h4 class="list-group-item-heading" > {{korisniciShow.pmb}}</h4>
    <h4 class="list-group-item-heading" > {{korisniciShow.uloge}}</h4>


    <span class="pull-right"> 

      <button class="btn btn-danger" (click)="deleteKorisnik(korisniciShow)">Obrisi</button>
    </span>
  </div>
</a>



