<div class="nav">
  <img src="http://www.brahmansamajofindia.org/2hIOZ.gif" style="width:70px;height:70px;" >
  <ul>
    <li>
      <a routerLink='/tipsmestaja'>Tip smestaja</a>
    </li>

    <li>
      <a routerLink='/kategorija'>Kategorija smestaja</a>
    </li>

    <li>
      <a routerLink='/dodatneusluge'>Dodatne usluge</a>
    </li>

    <li>
      <a routerLink='/komentari'>Komentari</a>
    </li>
    
    <li>
      <a routerLink='/lista-korisnika'>Blokiranje/aktiviranje korisnika</a>
    </li>
   
    <li>
      <a routerLink='/korisnici'>Dodavanje agenta</a>
    </li>
  </ul>
</div>

