.nav{
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    margin: auto;
    padding: 0;
    background-color: #023a5c;
    color: #e8491d;
  
    text-align: center;
  }
  
  a{
    text-decoration: none;
    font-size: px;
    line-height: 22px;
    color: #010000;
    cursor: pointer;
  }
  a:hover{
     color: #ff1755;
  }
  
  a,
  a:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  
  }
  
  
  
  .nav, .nav ul{
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li{
    float: left;
    margin: 0 5px 0 0;
  }
  
  .nav ul li a{
    display: block;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 15px 20px;
  }
  
  .nav ul li a:hover{
    background: #ffffff;
    color: #000000
  }
  
  .logoutLblPos{
    position:fixed;
    right:10px;
    top:5px;
  }
  
  .buttonstyle {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:  #35424a;
    border: 0;
    margin: 0 0 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  .buttonstyle:hover{
    background: #ffffff;
    color: #000000
  }
  
  