<h1 class="naslov">Korisnicki profil</h1>
<div class="form">
  <p><b>Ime:</b> {{korisnik?.ime}}</p>
  <p><b>Prezime:</b> {{korisnik?.prezime}}</p>
  <p><b>Email:</b> {{korisnik?.email}}</p>
  <p><b>Broj telefona:</b> {{korisnik?.brtel}}</p>
</div>

<div>
  <h1>Aktivne rezervacije: </h1>
  <div *ngFor="let r of korisnik?.rezervacije">
    <p>Smestaj: {{r.smestajNaziv}}</p>
    <p>Od: {{r.datumDolaska | date:'dd-MM-yyyy'}}</p>
    <p>Do: {{r.datumOdlaska | date:'dd-MM-yyyy'}}</p>
    <p>Cena: {{r.cena}}</p>
    <button class="btn btn-danger" (click)="cancelRez(r.id)">Otkazi rezervaciju</button>
  </div>
</div>
