.logo{
  width: 100%;
  padding: 0%;
  margin: 0%;
  position: relative;
  margin-top: -25px;
  height: 75px;
  background-color: #35424a;
  border-bottom: #e8491d 3px solid;
}
.logo img{
  float: left;
  margin-left: 40%;
}

.logo h1{
  position: relative;
  top: 18px;
  left: 10px;
  color: #ffffff;
}

#meSpan{
  color: #e8491d;
}

a:link, a:visited, a:active, a:hover {
  color: White;
  text-decoration: none
}
