<div class="col-75">
  <div class="container">
    <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" novalidate >
      <div class="row">
        <div class="col-50">
          <h2>Pretraga smestaja</h2>
          <label for="mesto">Mesto:</label>
          <input type="text" id="mesto" name="mesto" [(ngModel)]="model.mesto" #mesto="ngModel" required>
          <div *ngIf="f.submitted && !mesto.valid" class="help-block">Sifra je obavezna</div>
          <label for="br_mesta">Broj osoba:</label>
          <input type="number" name="br_mesta" step="1" min="1" value="1" [(ngModel)]="model.br_mesta" #brmesta="ngModel" required>
          <div class="row">
            <div class="col-50">
              <label for="od_datum">Datum prijavljivanja:</label>
              <input type="date" id="od_datum" name="od_datum" [(ngModel)]="model.datumOd" #datumOd="ngModel" required>
            </div>
            <div class="col-50">
              <label for="do_datum">Datum odjavljivanja:</label>
              <input type="date" id="do_datum" name="do_datum" [(ngModel)]="model.datumDo" #datumDo="ngModel" required>
            </div>
          </div>
        </div>
      </div>
      <button class="btn">Pretrazi</button>
      <button class="btn-link" routerLink='detaljna_pretraga'>Detaljna pretraga</button>
    </form>
  </div>
</div>
