<div class="col-75">
  <div class="container">
    <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" novalidate>
      <div class="col-50">
        <h2>Pretraga smestaja</h2>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mesto.valid }">
          <label for="mesto">Mesto:</label>
          <input type="text" id="mesto" name="mesto" [(ngModel)]="model.mesto" #mesto="ngModel" required>
          <div *ngIf="f.submitted && !mesto.valid" class="help-block">Mesto je obavezno</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !brmesta.valid }">
          <label for="br_mesta">Broj osoba:</label>
          <input type="number" id="brmesta" name="br_mesta" step="1" min="1" max="30" [(ngModel)]="model.br_mesta" #brmesta="ngModel"
            required>
          <div *ngIf="f.submitted && !brmesta.valid" class="help-block">Broj mesta je obavezan</div>
        </div>
        <div class="row">
          <div class="col-50">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !datumOd.valid }">
              <label for="od_datum">Datum prijavljivanja:</label>
              <input type="date" id="od_datum" name="od_datum" [(ngModel)]="model.datumOd" #datumOd="ngModel" required>
              <div *ngIf="f.submitted && !datumOd.valid" class="help-block">Datum prijavljivanja je obavezan</div>
            </div>
          </div>
          <div class="col-50">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !datumDo.valid }">
              <label for="do_datum">Datum odjavljivanja:</label>
              <input type="date" id="do_datum" name="do_datum" [(ngModel)]="model.datumDo" #datumDo="ngModel" required>
              <div *ngIf="f.submitted && !datumDo.valid" class="help-block">Datum odjavljivanja je obavezan</div>
            </div>
          </div>
          <div class="col-50">
            <div *ngIf="detaljno" class="form-group" [ngClass]="{ 'has-error': f.submitted && !brmesta.valid }">
              <label>Dodatne usluge: </label>
              <div *ngFor="let dodatna of dodatneUsl">
                <label class="container1">{{dodatna.naziv}}
                  <input type="checkbox" value="dodatna.id" [(ngModel)]="dodatna.checked" name="dodatna.naziv">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-50">
            <div *ngIf="detaljno" class="form-group" [ngClass]="{ 'has-error': f.submitted && !brmesta.valid }">
              <label>Tip smestaja: </label>
              <div *ngFor="let tip of tipovi">
                <label class="container1">{{tip.naziv}}
                  <input type="checkbox" value="tip.id" [(ngModel)]="tip.checked" name="tip.naziv">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="detaljno" class="form-group" [ngClass]="{ 'has-error': f.submitted && !brmesta.valid }">
          <label>Kategorija smestaja: </label>
          <div *ngFor="let kat of kategorije">
            <label class="container1">{{kat.naziv}}
              <input type="checkbox" value="kat.id" [(ngModel)]="kat.checked" name="kat.naziv">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn">Pretrazi</button>
    </form>
    <div *ngIf="!detaljno">
      <button class="btn-link" (click)="toggleDetaljno()">Detaljna pretraga</button>
    </div>
    <div *ngIf="detaljno">
      <button class="btn-link" (click)="toggleDetaljno()">Jednostavna pretraga</button>
    </div>
  </div>
</div>

<div *ngIf="rezultati">
  <div class="rezultati">

    <h1>
      <b>Rezultati pretrage:</b>
    </h1>
    <div *ngFor="let s of smestaj">
      <a [routerLink]="['detalji/' + s.id]">
        <div class="container2">
          <h2> {{s.naziv}}</h2>
          <h4> Kategorija: {{s.kategorijaSmestaja.naziv}}</h4>
          <h4> Kapacitet: {{s.kapacitet}}</h4>
          <h4> Opis: {{s.opis}}</h4>
          <h4> Cena: {{s.cena}}</h4>
          <h4> Ocena korisnika:</h4>
        </div>
      </a>
    </div>
  </div>
</div>
